@import url("reset.css");

@import url("vars.css");

@import url('https://fonts.googleapis.com/css2?family=Henny%20Penny:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

body {
    background-color: var(--colorBGmain);
    color: var(--colorMain);
    line-height: 1.2;
    font-size: 1rem;
}

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 800; 
    font-size: 2rem;
}

h2 {
    font-size: var(--fontSizeTitle);
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.page {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px; 
    padding: 0 15px;
    margin: 0 auto;
    border: 2px solid #2F5E4E;
    margin-bottom: 3rem;
}

.parent-element__container {
    background-color: #4c7162;
    width: 1200px;
    height: 250px;
    padding: 10px;
}

.percentages-wh {
    display: inline-block;
    width: 30%;
    height: 50%;
    border: 2px solid #ee3005;
    background-color: #f6ae07;
    text-align: center;
    vertical-align: middle;
}

.percentages-pm {
    padding: 3% 5%;
    margin: 2% 5%;
    display: inline-block;
    border: 2px solid #ee3005;
    background-color: #f6ae07;
}

.position-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.percentages-position {
    position: relative;
    top: -2rem;
    left: 10%;
    height: 150px;
    width: 250px;
    display: block;
    border: 2px solid #ee3005;
    background-color: #f6ae07;
}

.reference-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 250px;
    background-color: #4b09e6;
}

.viewport {
    background: url(../img/img_one.jpeg) center / cover no-repeat fixed;
    width: 100vw;
    height: 100svh;
    margin-bottom: 5rem;
}

.viewport__title {
    position: relative;
    top: 50%;
    left: 50%;
    display: inline-block;
    font-size: 2rem;
    color: #000;
    padding: 5rem;
    text-align: right;
    background-color: rgba(240, 248, 255, .5);
    border: 2px solid #ee3005;
}

.clamp {
    padding: 4.5rem;
}

.clamp__text {
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    padding-bottom: 1rem;
}

.cursors__container {
    max-width: 1200px;
}
 
.cursors__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 2rem;
    margin-left: 2.5rem;
    text-align: center;

    /* flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem; */
}

/* .item {
  flex: 0 0 calc(20% - 10px); 
} */

.cursors__item {
    padding: 1em;
    border: 2px solid #ee3005;
    width: min(120px, 100%);
}

.cursors__item--auto {
    cursor: auto;
}

.cursors__item--default {
    cursor: default;
}

.cursors__item--none {
    cursor: none;
}

.cursors__item--context-menu {
    cursor: context-menu;
}

.cursors__item--help {
    cursor: help;
}

.cursors__item--pointer {
    cursor: pointer;
}

.cursors__item--progress {
    cursor: progress;
}

.cursors__item--wait {
    cursor: wait;
}

.cursors__item--cell {
    cursor: cell;
}

.cursors__item--crosshair {
    cursor: crosshair;
}

.cursors__item--text {
    cursor: text;
}

.cursors__item--vertical-text {
    cursor: vertical-text;
}

.cursors__item--alias {
    cursor: alias;
}

.cursors__item--copy {
    cursor: copy;
}

.cursors__item--move {
    cursor: move;
}

.cursors__item--no-drop {
    cursor: no-drop;
}

.cursors__item--not-allowed {
    cursor: not-allowed;
}

.cursors__item--all-scroll {
    cursor: all-scroll;
}

.cursors__item--col-resize {
    cursor: col-resize;
}

.cursors__item--row-resize {
    cursor: row-resize;
}

.cursors__item--n-resize {
    cursor: n-resize;
}

.cursors__item--e-resize {
    cursor: e-resize;
}

.cursors__item--s-resize {
    cursor: s-resize;
}

.cursors__item--w-resize {
    cursor: w-resize;
}

.cursors__item--ne-resize {
    cursor: ne-resize;
}

.cursors__item--nw-resize {
    cursor: nw-resize;
}

.cursors__item--se-resize {
    cursor: se-resize;
}

.cursors__item--sw-resize {
    cursor: sw-resize;
}

.cursors__item--ew-resize {
    cursor: ew-resize;
}

.cursors__item--ns-resize {
    cursor: ns-resize;
}

.cursors__item--nesw-resize {
    cursor: nesw-resize;
}

.cursors__item--nwse-resize {
    cursor: nwse-resize;
}

.cursors__item--zoom-in {
    cursor: zoom-in;
}

.cursors__item--zoom-out {
    cursor: zoom-out;
}

.cursors__item--grab {
    cursor: grab;
}

.cursors__item--grabbing {
    cursor: grabbing;
}

/* .pointer-events__container {
    border: none; 
    padding: 2em;
}

.pointer-events__inner {
    position: relative;
    padding: 1rem;
    overflow: hidden;
}

.pointer-events__inner img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0.7;
    object-fit: contain;
}

.pointer-events__link {
    font-family: "Henny Penny", system-ui;
    font-size: 5rem;
    text-align: center;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 100px 250px;
    gap: 1rem;
}

.grid__item {
    border: 1px solid #639282;
    overflow: auto;
}

.chinese {
    font-family: "Noto Serif SC", serif;
}

.japanese {
    font-family: "Noto Serif JP", serif;
}

.chinese {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.chinese p {
    padding-block: 10px;
}

.japanese {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.japanese p {
    padding-inline: 10px;
}

.english-mixed {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}

.english-mixed p {
    padding-inline: 16px;
    padding-block: 8px;
}

.english-upright {
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.english-upright p {
    padding-left: 10px;
}

.arabic {
    direction: rtl;
    text-align: right;
}

.arabic p {
    padding-left: 10px;
}

.bg-block {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15.625rem, 100%), 1fr));
    grid-auto-rows: 9.375rem;
}

.bg-block__item {
    background: url(../img/img_three.jpeg) 0 0 / 100% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clip-path__img {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}
